<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Posts</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="posts.css">
</head>
<body>
<div class="container">
    <h1 class="page-title">Posts</h1>

    <div th:if="${hasPosts}" class="post-list">
        <ul>
            <li th:each="post : ${posts}" class="post-item">
                <div class="post-container">
                    <!-- Заголовок поста -->
                    <a th:href="@{/posts/{slug}(slug=${post.slug})}" class="post-link" th:text="${post.title}"></a>

                    <!-- Контент поста -->
                    <p th:text="${post.content}"></p>
                </div>
            </li>
        </ul>
    </div>

    <div th:if="${!hasPosts}" class="no-posts">
        <p>No posts available yet. Add one!</p>
    </div>

    <a href="/" class="add-post-button">Add New Post</a>
</div>
</body>
</html>
